:host {
	display: block;
	.contentContainer {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: $spacing-1;
		width: 100%;
		height: 100%;
		.content {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: $spacing-1;

			
			.textarea {
				display: flex;
				max-height: 180px;
				padding: 16px 8px 16px 16px;
				align-items: flex-start;
				align-self: stretch;
				border-radius: $spacing-2;
				border: 1px solid var(--color-neutral-200);
				overflow: scroll;

				.sub-container {
					white-space: pre-wrap;
					overflow-wrap: break-word;
				}

			}
		}
	}
}
