:host {
  display: flex;
  align-items: center;
  justify-content: center;
	.loader {
		animation: spin 2s linear infinite;
		width: 40%;
		height: 40%;
		opacity: 1;

		path:first-child {
			fill: var(--color-neutral-500);
			//stroke: white;
		}

		path:last-child {
			fill: var(--color-neutral-50);
			stroke: white;
		}

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}
}
