:host {
	::slotted(*) {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.root {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: var(--spacing-15, 12px) var(--spacing-3, 24px);
		gap: var(--spacing-15, 12px);
		box-sizing: border-box;
		height: fit-content;
		background: transparent;
		white-space: nowrap;
		user-select: none;
		cursor: pointer;
		font-family: var($font-primary);
		font-weight: 700;
		font-size: 16px;
		line-height: 140%;
		border-radius: 6px;
		svg {
			display: flex;
			align-items: center;
			width: 18px;
			height: 18px;
		}
		@media screen and (max-width: $screen-s) {
			display: flex;
			flex-direction: column;
			width: fit-content;
		}
		//variants
		&[variant="primary"] {
			border-radius: $radius-3xl;
			border: 1px solid var(--button-primary-primary-default-border);
			background-color: var(--button-primary-primary-default-background);
			color: var(--button-primary-neutral-default-contrast);
			box-shadow: $shadow-brand;

			&:hover {
				border: 1px solid var(--button-primary-primary-hovered-border);
				background-color: var(--button-primary-primary-hovered-background);
			}

			&:focus {
				border: 1px solid var(--button-primary-primary-pressed-border);
				background: var(--button-primary-primary-pressed-background);
			}

			&:disabled {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		&[variant="secondary"] {
			border-radius: $radius-3xl;
			border: 1px solid var(--button-secondary-primary-default-border);
			background-color: var(--button-secondary-primary-default-background);
			color: var(--button-secondary-primary-default-contrast);
			box-shadow: $shadow-brand;

			&:hover {
				border: 1px solid var(--button-secondary-primary-hovered-border);
				background: var(--button-secondary-primary-hovered-background);
			}

			&:focus {
				border: 1px solid var(--button-secondary-primary-pressed-border);
				background: var(--button-secondary-primary-pressed-background);
			}

			&:disabled {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		&[variant="neutral"] {
			border-radius: $radius-3xl;
			border: 1px solid var(--button-secondary-neutral-default-border);
			background-color: var(--button-secondary-neutral-default-background);
			color: var(--button-secondary-neutral-default-contrast);
			box-shadow: $shadow-brand;

			&:hover {
				border: 1px solid var(--button-secondary-neutral-hovered-border);
				background: var(--button-secondary-neutral-hovered-background);
			}

			&:focus {
				border: 1px solid var(--button-secondary-neutral-pressed-border);
				background: var(--button-secondary-neutral-pressed-background);
			}

			&:disabled {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		&[variant="text"] {
			padding: $spacing-1-5 0px;
			justify-content: center;
			align-items: center;
			gap: $spacing-1-5;
			border: none;
			color: var(--button-text-neutral-default-contrast);

			&:hover {
				color: var(--button-text-neutral-hovered-contrast);
			}

			&:focus {
				color: var(--button-text-neutral-pressed-contrast);
			}

			&:disabled {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		&[variant="warning"] {
			border-radius: $radius-3xl;
			border: 1px solid var(--button-secondary-warning-default-border);
			background-color: var(--button-secondary-warning-default-background);
			color: var(--button-secondary-warning-default-contrast);
			box-shadow: $shadow-brand;

			&:hover {
				border: 1px solid var(--button-secondary-warning-hovered-border);
				background: var(--button-secondary-errwarningor-hovered-background);
			}

			&:focus {
				border: 1px solid var(--button-secondary-warning-pressed-border);
				background: var(--button-secondary-warning-pressed-background);
			}

			&:disabled {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		&[fullwidthattr="true"] {
			width: 100%;
		}

		&[touppercase="false"] {
			text-transform: inherit;
		}

		&[sizing="small"] {
			max-height: 32px;
			padding: 6px 12px;
			@media screen and (max-width: $screen-s) {
				max-height: fit-content;
			}
		}

		&[sizing="medium"] {
			max-height: 40px;
			min-height: 40px;
			padding: 6px 12px;
			@media screen and (max-width: $screen-s) {
				max-height: fit-content;
			}
		}

		&[sizing="large"] {
			max-height: 48px;
			min-height: 48px;
			padding: 12px 24px;
			@media screen and (max-width: $screen-s) {
				max-height: fit-content;
			}
		}
	}
}
