:host {

	.contentContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: $spacing-1;
		width: 100%;
		height: 100%;

		.title{
			text-align: center;
		}

		.loading-wallet {
			padding: 24px 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: $spacing-1;
			width: 100%;
			height: 100%;
		}

		.wallet {
			padding: 24px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: $spacing-1;
			width: 100%;
			height: 100%;
			-ms-word-break: break-all;
			word-break: break-all;
			word-break: break-word;
		}
		.confirmation-image{
			stroke: var(--color-primary-500);
		}
	}
}
