:host {
	display: block;
	

	.content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: $spacing-3;
		width: 100%;
		height: 100%;
		.container {
			display: flex;
			flex-direction: column;
			gap: $spacing-1;
			.title {
				text-align: start;
			}
		}

		.container-confirmation {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: $spacing-1;
			.title {
				text-align: start;
			}
		}

		.container-textfields {
			display: flex;
			width: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: $spacing-2;
			align-self: stretch;
			.wrapper-input {
				display: flex;
				width: 100%;
				flex-direction: row;
				align-items: end;
				gap: $spacing-2;
				.input-field {
					width: 100%;
					justify-content: space-between;
				}
			}
		}
	}
}
