:host {
	display: block;

	.content-container {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: $spacing-1;
		width: 100%;
		height: 100%;
		.title {
			display: flex;
			flex-direction: column;
			text-align: start;
			gap: $spacing-0-5;
		}
		.content {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: $spacing-1;
      padding-top: $spacing-2;
      .button_container {
        width: 60%;
      }
		}
	}
}
