/* vertical-layout.css */
:host {
	.root {
		display: none;
		align-items: center;
		justify-content: center;
		margin: var(--root-margin);
		max-width: var(--root-max-width);
		min-width: 100%;
		min-height: calc(100vh - 83px);

		&.visible {
			display: flex;
		}


		.backdrop {
			height: 100%;
			width: 100%;
			pointer-events: all;
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
			backdrop-filter: blur(6px);
		}
	}
}
