/* vertical-layout.css */
:host {
	::slotted(*) {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		
	}
	.root {
		display: flex;
		width: 500px;
		max-width: 500px;
		padding: 16px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: $spacing-3;
		background-color: var(--color-generic-white);
		border-radius: $radius-lg;
		box-shadow: $shadow-md;
		z-index: 0;

		@media screen and (max-width: $screen-s) {
			max-width: 360px;
			min-width: 50%;
		}

		@media screen and (max-width: $screen-xs) {
			max-width: 280px;
			min-width: 50%;
		}

		.top-section {
			display: flex;
			align-items: center;
			padding: 8px;
			justify-content: space-between;
			align-self: stretch;
			.cross {
				cursor: pointer;
			}
		}
		.content-section {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;
			width: 100%;
		}
		.bottom-section {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;
			width: 100%;
		}
		.logos-section {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}
}
