:host {
	display: block;
  
	.container {
		display: none;
		&.visible {
			display: block;
		}
	}
	.contentContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		gap: $spacing-3;
		width: 100%;
		height: 100%;
	}
}
