:host {
  display: block;
  .container {
    display: none;
    &.visible{
      display: block;
    }
  }
  .contentContainer {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: $spacing-1;
		width: 100%;
		height: 100%;
	}
}
