$screen-xl: 2160px;
$screen-l: 1440px;
$screen-m: 1023px;
$screen-s: 767px;
$screen-xs: 390px;

$font-primary: "Inter", sans-serif;

$spacing-0-25: 2px;
$spacing-0-5: 4px;
$spacing-0-75: 6px;
$spacing-1: 8px;
$spacing-1-5: 12px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-3-5: 28px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
$spacing-9: 72px;
$spacing-10: 80px;
$spacing-11: 88px;
$spacing-12: 96px;
$spacing-13: 104px;
$spacing-14: 112px;
$spacing-15: 120px;
$spacing-16: 128px;

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;
$radius-xl: 24px;
$radius-2xl: 32px;
$radius-3xl: 360px;

$shadow-sm: 0px 10px 15px -3px rgba(6, 9, 14, 0.05);
$shadow-md: 0px 6px 12px 0px rgba(6, 9, 14, 0.1);
$shadow-lg: 0px 9px 18px 0px rgba(6, 9, 14, 0.15);
$shadow-brand: 3px 3px 0px 0px rgba(0, 0, 0, 0);
