@import "mixins.scss";

[theme-mode="light"] {
	--color-logo-bloom-light: #000000ff;
	--color-logo-client-light: #000000ff;

	// Misc colors
	--background-primary: var(--color-generic-white);
	--background-elevation-1: var(--color-primary-50);
	--background-elevation-2: var(--color-primary-100);
	--text-primary: #111827;
	--text-secondary: var(--color-primary-500);
	--text-neutral: var(--color-neutral-500);
	--text-inverted: #f9fafb;
	--divider-primary: #e5e7eb;
	/* colors */
	--alert-error-background: var(--color-error-50);
	--alert-error-border: var(--color-error-200);
	--alert-error-icon: var(--color-error-500);
	--alert-error-primary: var(--color-error-800);
	--alert-error-secondary: var(--color-error-700);
	--alert-info-background: var(--color-primary-50);
	--alert-info-border: var(--color-primary-200);
	--alert-info-icon: var(--color-primary-500);
	--alert-info-primary: var(--color-primary-800);
	--alert-info-secondary: var(--color-primary-700);
	--alert-success-background: var(--color-success-50);
	--alert-success-border: var(--color-success-200);
	--alert-success-icon: var(--color-success-500);
	--alert-success-primary: var(--color-success-800);
	--alert-success-secondary: var(--color-success-700);
	--alert-warning-background: var(--color-warning-50);
	--alert-warning-border: var(--color-warning-200);
	--alert-warning-icon: var(--color-warning-500);
	--alert-warning-primary: var(--color-warning-800);
	--alert-warning-secondary: var(--color-warning-700);
	--asset-default-background: var(--background-primary);
	--asset-hovered-background: var(--background-elevation-1);
	--asset-pressed-background: var(--background-elevation-2);
	--background-elevation-1: var(--color-neutral-50);
	--background-elevation-2: var(--color-neutral-100);
	--background-primary: var(--color-generic-white);
	--button-address-check: var(--color-success-600);
	--button-address-default-background: var(--background-primary);
	--button-address-default-border: var(--color-neutral-300);
	--button-address-default-contrast: var(--color-neutral-600);
	--button-address-hovered-background: var(--background-elevation-1);
	--button-address-hovered-border: var(--color-neutral-400);
	--button-address-hovered-contrast: var(--color-neutral-700);
	--button-address-pressed-background: var(--background-elevation-2);
	--button-address-pressed-border: var(--color-neutral-500);
	--button-address-pressed-contrast: var(--color-neutral-800);
	--button-icon-badge-background: var(--color-error-500);
	--button-icon-badge-contrast: var(--color-neutral-50);
	--button-icon-default-background: var(--background-primary);
	--button-icon-default-border: var(--color-generic-none);
	--button-icon-default-contrast: var(--color-neutral-900);
	--button-icon-hovered-background: var(--background-elevation-1);
	--button-icon-hovered-border: var(--color-generic-none);
	--button-icon-hovered-contrast: var(--color-neutral-900);
	--button-icon-pressed-background: var(--background-elevation-2);
	--button-icon-pressed-border: var(--color-generic-none);
	--button-icon-pressed-contrast: var(--color-neutral-900);
	--button-primary-error-default-background: var(--color-error-500);
	--button-primary-error-default-border: var(--color-generic-none);
	--button-primary-error-default-contrast: var(--color-neutral-50);
	--button-primary-error-hovered-background: var(--color-error-600);
	--button-primary-error-hovered-border: var(--color-generic-none);
	--button-primary-error-hovered-contrast: var(--color-neutral-50);
	--button-primary-error-pressed-background: var(--color-error-700);
	--button-primary-error-pressed-border: var(--color-generic-none);
	--button-primary-error-pressed-contrast: var(--color-neutral-50);
	--button-primary-neutral-default-background: var(--color-neutral-500);
	--button-primary-neutral-default-border: var(--color-generic-none);
	--button-primary-neutral-default-contrast: var(--color-neutral-50);
	--button-primary-neutral-hovered-background: var(--color-neutral-600);
	--button-primary-neutral-hovered-border: var(--color-generic-none);
	--button-primary-neutral-hovered-contrast: var(--color-neutral-50);
	--button-primary-neutral-pressed-background: var(--color-neutral-700);
	--button-primary-neutral-pressed-border: var(--color-generic-none);
	--button-primary-neutral-pressed-contrast: var(--color-neutral-50);
	--button-primary-primary-default-background: var(--color-primary-500);
	--button-primary-primary-default-border: var(--color-generic-none);
	--button-primary-primary-default-contrast: var(--color-neutral-50);
	--button-primary-primary-hovered-background: var(--color-primary-600);
	--button-primary-primary-hovered-border: var(--color-generic-none);
	--button-primary-primary-hovered-contrast: var(--color-neutral-50);
	--button-primary-primary-pressed-background: var(--color-primary-700);
	--button-primary-primary-pressed-border: var(--color-generic-none);
	--button-primary-primary-pressed-contrast: var(--color-neutral-50);
	--button-primary-success-default-background: var(--color-success-500);
	--button-primary-success-default-border: var(--color-generic-none);
	--button-primary-success-default-contrast: var(--color-neutral-50);
	--button-primary-success-hovered-background: var(--color-success-600);
	--button-primary-success-hovered-border: var(--color-generic-none);
	--button-primary-success-hovered-contrast: var(--color-neutral-50);
	--button-primary-success-pressed-background: var(--color-success-700);
	--button-primary-success-pressed-border: var(--color-generic-none);
	--button-primary-success-pressed-contrast: var(--color-neutral-50);
	--button-primary-warning-default-background: var(--color-warning-500);
	--button-primary-warning-default-border: var(--color-generic-none);
	--button-primary-warning-default-contrast: var(--color-neutral-50);
	--button-primary-warning-hovered-background: var(--color-warning-600);
	--button-primary-warning-hovered-border: var(--color-generic-none);
	--button-primary-warning-hovered-contrast: var(--color-neutral-50);
	--button-primary-warning-pressed-background: var(--color-warning-700);
	--button-primary-warning-pressed-border: var(--color-generic-none);
	--button-primary-warning-pressed-contrast: var(--color-neutral-50);
	--button-secondary-error-default-background: var(--color-generic-none);
	--button-secondary-error-default-border: var(--color-error-500);
	--button-secondary-error-default-contrast: var(--color-error-500);
	--button-secondary-error-hovered-background: var(--color-error-50);
	--button-secondary-error-hovered-border: var(--color-error-600);
	--button-secondary-error-hovered-contrast: var(--color-error-600);
	--button-secondary-error-pressed-background: var(--color-error-100);
	--button-secondary-error-pressed-border: var(--color-error-700);
	--button-secondary-error-pressed-contrast: var(--color-error-700);
	--button-secondary-neutral-default-background: var(--color-generic-none);
	--button-secondary-neutral-default-border: var(--color-neutral-600);
	--button-secondary-neutral-default-contrast: var(--color-neutral-600);
	--button-secondary-neutral-hovered-background: var(--color-neutral-50);
	--button-secondary-neutral-hovered-border: var(--color-neutral-700);
	--button-secondary-neutral-hovered-contrast: var(--color-neutral-700);
	--button-secondary-neutral-pressed-background: var(--color-neutral-100);
	--button-secondary-neutral-pressed-border: var(--color-neutral-800);
	--button-secondary-neutral-pressed-contrast: var(--color-neutral-800);
	--button-secondary-primary-default-background: var(--color-generic-none);
	--button-secondary-primary-default-border: var(--color-primary-500);
	--button-secondary-primary-default-contrast: var(--color-primary-800);
	--button-secondary-primary-hovered-background: var(--color-primary-100);
	--button-secondary-primary-hovered-border: var(--color-primary-600);
	--button-secondary-primary-hovered-contrast: var(--color-primary-600);
	--button-secondary-primary-pressed-background: var(--color-primary-100);
	--button-secondary-primary-pressed-border: var(--color-primary-700);
	--button-secondary-primary-pressed-contrast: var(--color-primary-700);
	--button-secondary-success-default-background: var(--color-generic-none);
	--button-secondary-success-default-border: var(--color-success-600);
	--button-secondary-success-default-contrast: var(--color-success-600);
	--button-secondary-success-hovered-background: var(--color-success-50);
	--button-secondary-success-hovered-border: var(--color-success-700);
	--button-secondary-success-hovered-contrast: var(--color-success-700);
	--button-secondary-success-pressed-background: var(--color-success-100);
	--button-secondary-success-pressed-border: var(--color-success-800);
	--button-secondary-success-pressed-contrast: var(--color-success-800);
	--button-secondary-warning-default-background: var(--color-generic-none);
	--button-secondary-warning-default-border: var(--color-warning-600);
	--button-secondary-warning-default-contrast: var(--color-warning-600);
	--button-secondary-warning-hovered-background: var(--color-warning-50);
	--button-secondary-warning-hovered-border: var(--color-warning-700);
	--button-secondary-warning-hovered-contrast: var(--color-warning-700);
	--button-secondary-warning-pressed-background: var(--color-warning-100);
	--button-secondary-warning-pressed-border: var(--color-warning-800);
	--button-secondary-warning-pressed-contrast: var(--color-warning-800);
	--button-text-error-default-contrast: var(--color-error-500);
	--button-text-error-hovered-contrast: var(--color-error-600);
	--button-text-error-pressed-contrast: var(--color-error-700);
	--button-text-neutral-default-contrast: var(--color-neutral-600);
	--button-text-neutral-hovered-contrast: var(--color-neutral-700);
	--button-text-neutral-pressed-contrast: var(--color-neutral-800);
	--button-text-primary-default-contrast: var(--color-primary-500);
	--button-text-primary-hovered-contrast: var(--color-primary-600);
	--button-text-primary-pressed-contrast: var(--color-primary-700);
	--button-text-success-default-contrast: var(--color-success-600);
	--button-text-success-hovered-contrast: var(--color-success-700);
	--button-text-success-pressed-contrast: var(--color-success-800);
	--button-text-warning-default-contrast: var(--color-warning-600);
	--button-text-warning-hovered-contrast: var(--color-warning-700);
	--button-text-warning-pressed-contrast: var(--color-warning-800);
	--button-user-default-background: var(--background-primary);
	--button-user-default-border: var(--color-neutral-300);
	--button-user-default-contrast: var(--color-neutral-600);
	--button-user-hovered-background: var(--background-elevation-1);
	--button-user-hovered-border: var(--color-neutral-400);
	--button-user-hovered-contrast: var(--color-neutral-700);
	--button-user-pressed-background: var(--background-elevation-2);
	--button-user-pressed-border: var(--color-neutral-500);
	--button-user-pressed-contrast: var(--color-neutral-800);
	--checkbox-checked-default-background: var(--color-primary-500);
	--checkbox-checked-default-border: var(--color-generic-none);
	--checkbox-checked-default-contrast: var(--color-neutral-50);
	--checkbox-checked-hovered-background: var(--color-primary-600);
	--checkbox-checked-hovered-border: var(--color-generic-none);
	--checkbox-checked-hovered-contrast: var(--color-neutral-50);
	--checkbox-checked-pressed-background: var(--color-primary-700);
	--checkbox-checked-pressed-border: var(--color-generic-none);
	--checkbox-checked-pressed-contrast: var(--color-neutral-50);
	--checkbox-unchecked-default-background: var(--background-primary);
	--checkbox-unchecked-default-border: var(--color-neutral-500);
	--checkbox-unchecked-hovered-background: var(--background-elevation-1);
	--checkbox-unchecked-hovered-border: var(--color-neutral-600);
	--checkbox-unchecked-pressed-background: var(--background-elevation-2);
	--checkbox-unchecked-pressed-border: var(--color-neutral-700);
	--dropdown-default-background: var(--background-primary);
	--dropdown-default-border: var(--color-neutral-300);
	--dropdown-default-contrast: var(--text-primary);
	--dropdown-hovered-background: var(--background-elevation-1);
	--dropdown-hovered-border: var(--color-neutral-400);
	--dropdown-hovered-contrast: var(--text-primary);
	--dropdown-menu-background: var(--background-primary);
	--dropdown-menu-border: var(--color-neutral-300);
	--dropdown-option-default-background: var(--background-primary);
	--dropdown-option-default-contrast: var(--text-secondary);
	--dropdown-option-hovered-background: var(--background-elevation-1);
	--dropdown-option-hovered-contrast: var(--text-primary);
	--dropdown-option-pressed-background: var(--background-elevation-2);
	--dropdown-option-pressed-contrast: var(--text-primary);
	--dropdown-pressed-background: var(--background-elevation-2);
	--dropdown-pressed-border: var(--color-neutral-500);
	--dropdown-pressed-contrast: var(--text-primary);
	--input-core-default-background: var(--background-primary);
	--input-core-default-border: var(--color-neutral-400);
	--input-core-default-icon: var(--text-secondary);
	--input-core-default-placeholder: var(--color-neutral-400);
	--input-core-focused-background: var(--background-primary);
	--input-core-focused-border: var(--color-neutral-500);
	--input-core-focused-icon: var(--text-secondary);
	--input-core-focused-placeholder: var(--text-primary);
	--input-error-default-border: var(--color-error-500);
	--input-error-default-caption: var(--color-error-600);
	--input-error-focused-border: var(--color-error-600);
	--input-success-default-border: var(--color-success-600);
	--input-success-focused-border: var(--color-success-700);
	--line-primary: var(--color-neutral-200);
	--loader-background: #1118271a;
	--loader-ring: var(--color-primary-500);
	--logo-bloom: var(--color-logo-bloom-light);
	--logo-client: var(--color-logo-client-light);
	--progress-steps-icon: var(--color-neutral-50);
	--progress-steps-primary: var(--color-primary-500);
	--progress-steps-secondary: var(--color-neutral-300);
	--radio-checked-default-background: var(--background-primary);
	--radio-checked-default-border: var(--color-primary-500);
	--radio-checked-default-contrast: var(--color-primary-500);
	--radio-checked-hovered-background: var(--background-elevation-1);
	--radio-checked-hovered-border: var(--color-primary-600);
	--radio-checked-hovered-contrast: var(--color-primary-600);
	--radio-checked-pressed-background: var(--background-elevation-2);
	--radio-checked-pressed-border: var(--color-primary-700);
	--radio-checked-pressed-contrast: var(--color-primary-700);
	--radio-unchecked-default-background: var(--background-primary);
	--radio-unchecked-default-border: var(--color-neutral-500);
	--radio-unchecked-hovered-background: var(--background-elevation-1);
	--radio-unchecked-hovered-border: var(--color-neutral-600);
	--radio-unchecked-pressed-background: var(--background-elevation-2);
	--radio-unchecked-pressed-border: var(--color-neutral-700);
	--selector-background: var(--color-neutral-200);
	--selector-border: var(--color-generic-none);
	--selector-option-default-background: var(--color-generic-none);
	--selector-option-default-contrast: var(--text-primary);
	--selector-option-hovered-background: var(--color-generic-none);
	--selector-option-hovered-contrast: var(--text-primary);
	--selector-option-pressed-background: var(--color-generic-none);
	--selector-option-pressed-contrast: var(--text-primary);
	--selector-option-selected-background: var(--color-generic-white);
	--selector-option-selected-contrast: var(--color-neutral-900);
	--text-colored: var(--color-primary-500);
	--text-inverted: var(--color-neutral-50);
	--text-primary: var(--color-neutral-900);
	--text-secondary: var(--color-neutral-600);
	--toggle-border: var(--color-generic-none);
	--toggle-off-background: var(--color-neutral-300);
	--toggle-on-background: var(--color-primary-500);
	--toggle-switch-background: var(--color-neutral-50);
	--toggle-switch-border: var(--color-generic-none);
	--tooltip-background: var(--background-primary);
	/* numbers */
	--alert-radius: var(--radius-rounded);
	--asset-radius: var(--radius-rounded);
	--avatar-radius: var(--radius-full);
	--button-radius: var(--radius-full);
	--button-address-radius: var(--radius-full);
	--button-icon-radius: var(--radius-full);
	--button-icon-badge-radius: var(--radius-full);
	--button-user-radius: var(--radius-full);
	--checkbox-radius: var(--radius-sm);
	--dropdown-radius: var(--radius-full);
	--dropdown-menu-radius: var(--spacing-2);
	--dropdown-option-radius: var(--radius-rounded);
	--input-area-radius: var(--radius-minimal);
	--input-field-radius: var(--radius-full);
	--progress-steps-radius: var(--radius-full);
	--radius-none: 0rem;
	--radius-minimal: var(--radius-md);
	--radius-modal: var(--radius-minimal);
	--radius-rounded: var(--radius-lg);
	--radius-full: var(--radius-3xl);
	--selector-radius: var(--radius-full);
	--selector-option-radius: var(--radius-full);
	--spacing-none: 0rem;
	--spacing-xs: var(--spacing-0, 5);
	--spacing-sm: var(--spacing-1);
	--spacing-md: var(--spacing-2);
	--spacing-lg: var(--spacing-3);
	--spacing-xl: var(--spacing-4);
	--spacing-2xl: var(--spacing-8);
	--spacing-3xl: var(--spacing-16);
	--toggle-radius: var(--radius-full);
	--toggle-switch-radius: var(--radius-full);
	--tooltip-radius: var(--radius-minimal);
}
[theme-mode="dark"] {
	--color-logo-bloom-light: #000000ff;
	--color-logo-client-light: #000000ff;
	$color-primary-500: #D1D5DB;
	// Misc colors
	--background-primary: var(--color-neutral-900);
	--background-elevation-1: var(--color-primary-50);
	--background-elevation-2: var(--color-primary-100);
	--text-primary: var(--color-generic-white);
	--text-secondary: var(--color-primary-500);
	--text-neutral: var(--color-neutral-200);
	--text-inverted: #f9fafb;
	--divider-primary: #e5e7eb;
	/* colors */
	--alert-error-background: #ef44441a;
	--alert-error-border: #ef444440;
	--alert-error-icon: var(--color-error-400);
	--alert-error-primary: var(--color-error-50);
	--alert-error-secondary: var(--color-error-100);
	--alert-info-icon: var(--color-primary-300);
	--alert-info-primary: var(--color-primary-50);
	--alert-info-secondary: var(--color-primary-100);
	--alert-success-background: #22c55e1a;
	--alert-success-border: #22c55e40;
	--alert-success-icon: var(--color-success-400);
	--alert-success-primary: var(--color-success-50);
	--alert-success-secondary: var(--color-success-100);
	--alert-warning-background: #f59e0b1a;
	--alert-warning-border: #f59e0b40;
	--alert-warning-icon: var(--color-warning-400);
	--alert-warning-primary: var(--color-warning-50);
	--alert-warning-secondary: var(--color-warning-100);
	--asset-default-background: var(--background-primary);
	--asset-hovered-background: var(--background-elevation-1);
	--asset-pressed-background: var(--background-elevation-2);
	--background-elevation-1: var(--color-neutral-800);
	--background-elevation-2: var(--color-neutral-700);
	--background-primary: var(--color-neutral-900);
	--button-address-check: var(--color-success-500);
	--button-address-default-background: var(--background-primary);
	--button-address-default-border: var(--color-neutral-600);
	--button-address-default-contrast: var(--color-neutral-300);
	--button-address-hovered-background: var(--background-elevation-1);
	--button-address-hovered-border: var(--color-neutral-500);
	--button-address-hovered-contrast: var(--color-neutral-200);
	--button-address-pressed-background: var(--background-elevation-2);
	--button-address-pressed-border: var(--color-neutral-400);
	--button-address-pressed-contrast: var(--color-neutral-100);
	--button-icon-badge-background: var(--color-error-500);
	--button-icon-badge-contrast: var(--color-neutral-50);
	--button-icon-default-background: var(--background-primary);
	--button-icon-default-border: var(--color-generic-none);
	--button-icon-default-contrast: var(--color-primary-50);
	--button-icon-hovered-background: var(--background-elevation-1);
	--button-icon-hovered-border: var(--color-generic-none);
	--button-icon-hovered-contrast: var(--color-neutral-50);
	--button-icon-pressed-background: var(--background-elevation-2);
	--button-icon-pressed-border: var(--color-generic-none);
	--button-icon-pressed-contrast: var(--color-neutral-50);
	--button-primary-error-default-background: var(--color-error-500);
	--button-primary-error-default-border: var(--color-generic-none);
	--button-primary-error-default-contrast: var(--color-neutral-50);
	--button-primary-error-hovered-background: var(--color-error-400);
	--button-primary-error-hovered-border: var(--color-generic-none);
	--button-primary-error-hovered-contrast: var(--color-neutral-50);
	--button-primary-error-pressed-background: var(--color-error-300);
	--button-primary-error-pressed-border: var(--color-generic-none);
	--button-primary-error-pressed-contrast: var(--color-neutral-50);
	--button-primary-neutral-default-background: var(--color-neutral-500);
	--button-primary-neutral-default-border: var(--color-generic-none);
	--button-primary-neutral-default-contrast: var(--color-neutral-50);
	--button-primary-neutral-hovered-background: var(--color-neutral-400);
	--button-primary-neutral-hovered-border: var(--color-generic-none);
	--button-primary-neutral-hovered-contrast: var(--color-neutral-50);
	--button-primary-neutral-pressed-background: var(--color-neutral-300);
	--button-primary-neutral-pressed-border: var(--color-generic-none);
	--button-primary-neutral-pressed-contrast: var(--color-neutral-50);
	--button-primary-primary-default-background: var(--color-primary-500);
	--button-primary-primary-default-border: var(--color-generic-none);
	--button-primary-primary-default-contrast: var(--color-neutral-50);
	--button-primary-primary-hovered-background: var(--color-primary-400);
	--button-primary-primary-hovered-border: var(--color-generic-none);
	--button-primary-primary-hovered-contrast: var(--color-neutral-50);
	--button-primary-primary-pressed-background: var(--color-primary-300);
	--button-primary-primary-pressed-border: var(--color-generic-none);
	--button-primary-primary-pressed-contrast: var(--color-neutral-50);
	--button-primary-success-default-background: var(--color-success-500);
	--button-primary-success-default-border: var(--color-generic-none);
	--button-primary-success-default-contrast: var(--color-neutral-50);
	--button-primary-success-hovered-background: var(--color-success-400);
	--button-primary-success-hovered-border: var(--color-generic-none);
	--button-primary-success-hovered-contrast: var(--color-neutral-50);
	--button-primary-success-pressed-background: var(--color-success-300);
	--button-primary-success-pressed-border: var(--color-generic-none);
	--button-primary-success-pressed-contrast: var(--color-neutral-50);
	--button-primary-warning-default-background: var(--color-warning-500);
	--button-primary-warning-default-border: var(--color-generic-none);
	--button-primary-warning-default-contrast: var(--color-neutral-50);
	--button-primary-warning-hovered-background: var(--color-warning-400);
	--button-primary-warning-hovered-border: var(--color-generic-none);
	--button-primary-warning-hovered-contrast: var(--color-neutral-50);
	--button-primary-warning-pressed-background: var(--color-warning-300);
	--button-primary-warning-pressed-border: var(--color-generic-none);
	--button-primary-warning-pressed-contrast: var(--color-neutral-50);
	--button-secondary-error-default-background: var(--color-generic-none);
	--button-secondary-error-default-border: var(--color-error-300);
	--button-secondary-error-default-contrast: var(--color-error-300);
	--button-secondary-error-hovered-background: #ef44441a;
	--button-secondary-error-hovered-border: var(--color-error-200);
	--button-secondary-error-hovered-contrast: var(--color-error-200);
	--button-secondary-error-pressed-background: #ef444426;
	--button-secondary-error-pressed-border: var(--color-error-100);
	--button-secondary-error-pressed-contrast: var(--color-error-100);
	--button-secondary-neutral-default-background: var(--color-generic-none);
	--button-secondary-neutral-default-border: var(--color-neutral-300);
	--button-secondary-neutral-default-contrast: var(--color-neutral-300);
	--button-secondary-neutral-hovered-background: #6b72801a;
	--button-secondary-neutral-hovered-border: var(--color-neutral-200);
	--button-secondary-neutral-hovered-contrast: var(--color-neutral-200);
	--button-secondary-neutral-pressed-background: #6b728026;
	--button-secondary-neutral-pressed-border: var(--color-neutral-100);
	--button-secondary-neutral-pressed-contrast: var(--color-neutral-100);
	--button-secondary-primary-default-background: var(--color-generic-none);
	--button-secondary-primary-default-border: var(--color-primary-300);
	--button-secondary-primary-default-contrast: var(--color-primary-300);
	--button-secondary-primary-hovered-background: #4b4efc1a;
	--button-secondary-primary-hovered-border: var(--color-primary-200);
	--button-secondary-primary-hovered-contrast: var(--color-primary-200);
	--button-secondary-primary-pressed-background: #4b4efc26;
	--button-secondary-primary-pressed-border: var(--color-primary-100);
	--button-secondary-primary-pressed-contrast: var(--color-primary-100);
	--button-secondary-success-default-background: var(--color-generic-none);
	--button-secondary-success-default-border: var(--color-success-300);
	--button-secondary-success-default-contrast: var(--color-success-300);
	--button-secondary-success-hovered-background: #22c55e1a;
	--button-secondary-success-hovered-border: var(--color-success-200);
	--button-secondary-success-hovered-contrast: var(--color-success-200);
	--button-secondary-success-pressed-background: #22c55e26;
	--button-secondary-success-pressed-border: var(--color-success-100);
	--button-secondary-success-pressed-contrast: var(--color-success-100);
	--button-secondary-warning-default-background: var(--color-generic-none);
	--button-secondary-warning-default-border: var(--color-warning-300);
	--button-secondary-warning-default-contrast: var(--color-warning-300);
	--button-secondary-warning-hovered-background: #f59e0b1a;
	--button-secondary-warning-hovered-border: var(--color-warning-200);
	--button-secondary-warning-hovered-contrast: var(--color-warning-200);
	--button-secondary-warning-pressed-background: #f59e0b26;
	--button-secondary-warning-pressed-border: var(--color-warning-100);
	--button-secondary-warning-pressed-contrast: var(--color-warning-100);
	--button-text-error-default-contrast: var(--color-error-300);
	--button-text-error-hovered-contrast: var(--color-error-200);
	--button-text-error-pressed-contrast: var(--color-error-100);
	--button-text-neutral-default-contrast: var(--color-neutral-300);
	--button-text-neutral-hovered-contrast: var(--color-neutral-200);
	--button-text-neutral-pressed-contrast: var(--color-neutral-100);
	--button-text-primary-default-contrast: var(--color-primary-300);
	--button-text-primary-hovered-contrast: var(--color-primary-200);
	--button-text-primary-pressed-contrast: var(--color-primary-100);
	--button-text-success-default-contrast: var(--color-success-300);
	--button-text-success-hovered-contrast: var(--color-success-200);
	--button-text-success-pressed-contrast: var(--color-success-100);
	--button-text-warning-default-contrast: var(--color-warning-300);
	--button-text-warning-hovered-contrast: var(--color-warning-200);
	--button-text-warning-pressed-contrast: var(--color-warning-100);
	--button-user-default-background: var(--background-primary);
	--button-user-default-border: var(--color-neutral-600);
	--button-user-default-contrast: var(--color-neutral-300);
	--button-user-hovered-background: var(--background-elevation-1);
	--button-user-hovered-border: var(--color-neutral-500);
	--button-user-hovered-contrast: var(--color-neutral-200);
	--button-user-pressed-background: var(--background-elevation-2);
	--button-user-pressed-border: var(--color-neutral-400);
	--button-user-pressed-contrast: var(--color-neutral-100);
	--checkbox-checked-default-background: var(--color-primary-500);
	--checkbox-checked-default-border: var(--color-generic-none);
	--checkbox-checked-default-contrast: var(--color-neutral-50);
	--checkbox-checked-hovered-background: var(--color-primary-400);
	--checkbox-checked-hovered-border: var(--color-generic-none);
	--checkbox-checked-hovered-contrast: var(--color-neutral-50);
	--checkbox-checked-pressed-background: var(--color-primary-300);
	--checkbox-checked-pressed-border: var(--color-generic-none);
	--checkbox-checked-pressed-contrast: var(--color-neutral-50);
	--checkbox-unchecked-default-background: var(--background-primary);
	--checkbox-unchecked-default-border: var(--color-neutral-500);
	--checkbox-unchecked-hovered-background: var(--background-elevation-1);
	--checkbox-unchecked-hovered-border: var(--color-neutral-400);
	--checkbox-unchecked-pressed-background: var(--background-elevation-2);
	--checkbox-unchecked-pressed-border: var(--color-neutral-300);
	--dropdown-default-background: var(--background-primary);
	--dropdown-default-border: var(--color-neutral-700);
	--dropdown-default-contrast: var(--text-primary);
	--dropdown-hovered-background: var(--background-elevation-1);
	--dropdown-hovered-border: var(--color-neutral-600);
	--dropdown-hovered-contrast: var(--text-primary);
	--dropdown-menu-background: var(--background-primary);
	--dropdown-menu-border: var(--color-neutral-700);
	--dropdown-option-default-background: var(--background-primary);
	--dropdown-option-default-contrast: var(--text-secondary);
	--dropdown-option-hovered-background: var(--background-elevation-1);
	--dropdown-option-hovered-contrast: var(--text-primary);
	--dropdown-option-pressed-background: var(--background-elevation-2);
	--dropdown-option-pressed-contrast: var(--text-primary);
	--dropdown-pressed-background: var(--background-elevation-2);
	--dropdown-pressed-border: var(--color-neutral-500);
	--dropdown-pressed-contrast: var(--text-primary);
	--input-core-default-background: var(--background-primary);
	--input-core-default-border: var(--color-neutral-500);
	--input-core-default-icon: var(--text-secondary);
	--input-core-default-placeholder: var(--color-neutral-500);
	--input-core-focused-background: var(--background-primary);
	--input-core-focused-border: var(--color-neutral-400);
	--input-core-focused-icon: var(--text-secondary);
	--input-core-focused-placeholder: var(--text-primary);
	--input-error-default-border: var(--color-error-500);
	--input-error-default-caption: var(--color-error-400);
	--input-error-focused-border: var(--color-error-400);
	--input-success-default-border: var(--color-success-600);
	--input-success-focused-border: var(--color-success-500);
	--line-primary: var(--color-neutral-700);
	--loader-background: #f9fafb1a;
	--loader-ring: var(--color-primary-500);
	--logo-bloom: var(--color-logo-bloom-dark);
	--logo-client: var(--color-logo-client-dark);
	--progress-steps-icon: var(--color-neutral-50);
	--progress-steps-primary: var(--color-primary-500);
	--progress-steps-secondary: var(--color-neutral-600);
	--radio-checked-default-background: var(--background-primary);
	--radio-checked-default-border: var(--color-primary-500);
	--radio-checked-default-contrast: var(--color-primary-500);
	--radio-checked-hovered-background: var(--background-elevation-1);
	--radio-checked-hovered-border: var(--color-primary-400);
	--radio-checked-hovered-contrast: var(--color-primary-400);
	--radio-checked-pressed-background: var(--background-elevation-2);
	--radio-checked-pressed-border: var(--color-primary-300);
	--radio-checked-pressed-contrast: var(--color-primary-300);
	--radio-unchecked-default-background: var(--background-primary);
	--radio-unchecked-default-border: var(--color-neutral-500);
	--radio-unchecked-hovered-background: var(--background-elevation-1);
	--radio-unchecked-hovered-border: var(--color-neutral-400);
	--radio-unchecked-pressed-background: var(--background-elevation-2);
	--radio-unchecked-pressed-border: var(--color-neutral-300);
	--selector-background: var(--color-neutral-800);
	--selector-border: var(--color-generic-none);
	--selector-option-default-background: var(--color-generic-none);
	--selector-option-default-contrast: var(--text-primary);
	--selector-option-hovered-background: var(--color-generic-none);
	--selector-option-hovered-contrast: var(--text-primary);
	--selector-option-pressed-background: var(--color-generic-none);
	--selector-option-pressed-contrast: var(--text-primary);
	--selector-option-selected-background: var(--color-neutral-900);
	--selector-option-selected-contrast: var(--color-neutral-50);
	--text-colored: var(--color-primary-300);
	--text-inverted: var(--color-neutral-900);
	--text-primary: var(--color-neutral-50);
	--text-secondary: var(--color-neutral-300);
	--toggle-border: var(--color-generic-none);
	--toggle-off-background: var(--color-neutral-600);
	--toggle-on-background: var(--color-primary-500);
	--toggle-switch-background: var(--color-neutral-50);
	--toggle-switch-border: var(--color-generic-none);
	--tooltip-background: var(--color-neutral-700);
	/* numbers */
	--alert-radius: var(--radius-rounded);
	--asset-radius: var(--radius-rounded);
	--avatar-radius: var(--radius-full);
	--button-radius: var(--radius-full);
	--button-address-radius: var(--radius-full);
	--button-icon-radius: var(--radius-full);
	--button-icon-badge-radius: var(--radius-full);
	--button-user-radius: var(--radius-full);
	--checkbox-radius: var(--radius-sm);
	--dropdown-radius: var(--radius-full);
	--dropdown-menu-radius: var(--spacing-2);
	--dropdown-option-radius: var(--radius-rounded);
	--input-area-radius: var(--radius-minimal);
	--input-field-radius: var(--radius-full);
	--progress-steps-radius: var(--radius-full);
	--radius-none: 0rem;
	--radius-minimal: var(--radius-md);
	--radius-modal: var(--radius-minimal);
	--radius-rounded: var(--radius-lg);
	--radius-full: var(--radius-3xl);
	--selector-radius: var(--radius-full);
	--selector-option-radius: var(--radius-full);
	--spacing-none: 0rem;
	--spacing-xs: var(--spacing-0, 5);
	--spacing-sm: var(--spacing-1);
	--spacing-md: var(--spacing-2);
	--spacing-lg: var(--spacing-3);
	--spacing-xl: var(--spacing-4);
	--spacing-2xl: var(--spacing-8);
	--spacing-3xl: var(--spacing-16);
	--toggle-radius: var(--radius-full);
	--toggle-switch-radius: var(--radius-full);
	--tooltip-radius: var(--radius-minimal);
}
