[theme-mode="accor"] {
	--color-logo-bloom-light: #000000ff;
	--color-logo-client-light: #000000ff;

	// Misc colors
	--background-primary: var(--color-generic-white);
	--background-elevation-1: var(--color-neutral-50);
	--background-elevation-2: var(--color-neutral-100);
	--text-primary: #111827;
	--text-secondary: var(--color-neutral-500);
	--text-inverted: #f9fafb;
	--divider-primary: #e5e7eb;

	//buttons
	--button-icon-badge-background: var(--color-error-500);
	--button-icon-badge-contrast: var(--color-neutral-50);
	--button-icon-badge-radius: var(--radius-full);
	--button-icon-primary-default-background: var(--background-primary);
	--button-icon-primary-default-border: var(--color-generic-none);
	--button-icon-primary-default-contrast: var(--color-neutral-900);
	--button-icon-primary-hovered-background: var(--background-elevation-1);
	--button-icon-primary-hovered-border: var(--color-generic-none);
	--button-icon-primary-hovered-contrast: var(--color-neutral-900);
	--button-icon-primary-pressed-background: var(--background-elevation-2);
	--button-icon-primary-pressed-border: var(--color-generic-none);
	--button-icon-primary-pressed-contrast: var(--color-neutral-900);
	--button-icon-radius: var(--radius-full);
	--button-icon-secondary-default-background: #1118274c;
	--button-icon-secondary-default-border: var(--color-generic-none);
	--button-icon-secondary-default-contrast: var(--color-neutral-50);
	--button-icon-secondary-hovered-background: #1118277f;
	--button-icon-secondary-hovered-border: var(--color-generic-none);
	--button-icon-secondary-hovered-contrast: var(--color-neutral-50);
	--button-icon-secondary-pressed-background: #111827b2;
	--button-icon-secondary-pressed-border: var(--color-generic-none);
	--button-icon-secondary-pressed-contrast: var(--color-neutral-50);
	--button-primary-error-default-background: var(--color-error-500);
	--button-primary-error-default-border: var(--color-generic-none);
	--button-primary-error-default-contrast: var(--color-neutral-50);
	--button-primary-error-hovered-background: var(--color-error-600);
	--button-primary-error-hovered-border: var(--color-generic-none);
	--button-primary-error-hovered-contrast: var(--color-neutral-50);
	--button-primary-error-pressed-background: var(--color-error-700);
	--button-primary-error-pressed-border: var(--color-generic-none);
	--button-primary-error-pressed-contrast: var(--color-neutral-50);
	--button-primary-neutral-default-background: var(--color-neutral-500);
	--button-primary-neutral-default-border: var(--color-generic-none);
	--button-primary-neutral-default-contrast: var(--color-neutral-50);
	--button-primary-neutral-hovered-background: var(--color-neutral-600);
	--button-primary-neutral-hovered-border: var(--color-generic-none);
	--button-primary-neutral-hovered-contrast: var(--color-neutral-50);
	--button-primary-neutral-pressed-background: var(--color-neutral-700);
	--button-primary-neutral-pressed-border: var(--color-generic-none);
	--button-primary-neutral-pressed-contrast: var(--color-neutral-50);
	--button-primary-primary-default-background: var(--color-primary-500);
	--button-primary-primary-default-border: var(--color-generic-none);
	--button-primary-primary-default-contrast: var(--color-neutral-50);
	--button-primary-primary-hovered-background: var(--color-primary-600);
	--button-primary-primary-hovered-border: var(--color-generic-none);
	--button-primary-primary-hovered-contrast: var(--color-neutral-50);
	--button-primary-primary-pressed-background: var(--color-primary-700);
	--button-primary-primary-pressed-border: var(--color-generic-none);
	--button-primary-primary-pressed-contrast: var(--color-neutral-50);
	--button-primary-success-default-background: var(--color-success-500);
	--button-primary-success-default-border: var(--color-generic-none);
	--button-primary-success-default-contrast: var(--color-neutral-50);
	--button-primary-success-hovered-background: var(--color-success-600);
	--button-primary-success-hovered-border: var(--color-generic-none);
	--button-primary-success-hovered-contrast: var(--color-neutral-50);
	--button-primary-success-pressed-background: var(--color-success-700);
	--button-primary-success-pressed-border: var(--color-generic-none);
	--button-primary-success-pressed-contrast: var(--color-neutral-50);
	--button-primary-warning-default-background: var(--color-warning-500);
	--button-primary-warning-default-border: var(--color-generic-none);
	--button-primary-warning-default-contrast: var(--color-neutral-50);
	--button-primary-warning-hovered-background: var(--color-warning-600);
	--button-primary-warning-hovered-border: var(--color-generic-none);
	--button-primary-warning-hovered-contrast: var(--color-neutral-50);
	--button-primary-warning-pressed-background: var(--color-warning-700);
	--button-primary-warning-pressed-border: var(--color-generic-none);
	--button-primary-warning-pressed-contrast: var(--color-neutral-50);
	--button-radius: var(--radius-3xl);
	--button-secondary-error-default-background: var(--color-generic-none);
	--button-secondary-error-default-border: var(--color-error-500);
	--button-secondary-error-default-contrast: var(--color-error-500);
	--button-secondary-error-hovered-background: var(--color-error-50);
	--button-secondary-error-hovered-border: var(--color-error-600);
	--button-secondary-error-hovered-contrast: var(--color-error-600);
	--button-secondary-error-pressed-background: var(--color-error-100);
	--button-secondary-error-pressed-border: var(--color-error-700);
	--button-secondary-error-pressed-contrast: var(--color-error-700);
	--button-secondary-neutral-default-background: var(--color-generic-none);
	--button-secondary-neutral-default-border: var(--color-neutral-700);
	--button-secondary-neutral-default-contrast: var(--color-neutral-700);
	--button-secondary-neutral-hovered-background: var(--color-neutral-50);
	--button-secondary-neutral-hovered-border: var(--color-neutral-600);
	--button-secondary-neutral-hovered-contrast: var(--color-neutral-600);
	--button-secondary-neutral-pressed-background: var(--color-neutral-100);
	--button-secondary-neutral-pressed-border: var(--color-neutral-700);
	--button-secondary-neutral-pressed-contrast: var(--color-neutral-700);
	--button-secondary-primary-default-background: var(--color-generic-none);
	--button-secondary-primary-default-border: var(--color-primary-700);
	--button-secondary-primary-default-contrast: var(--color-primary-700);
	--button-secondary-primary-hovered-background: var(--color-primary-50);
	--button-secondary-primary-hovered-border: var(--color-primary-600);
	--button-secondary-primary-hovered-contrast: var(--color-primary-600);
	--button-secondary-primary-pressed-background: var(--color-primary-100);
	--button-secondary-primary-pressed-border: var(--color-primary-700);
	--button-secondary-primary-pressed-contrast: var(--color-primary-700);
	--button-secondary-success-default-background: var(--color-generic-none);
	--button-secondary-success-default-border: var(--color-success-600);
	--button-secondary-success-default-contrast: var(--color-success-600);
	--button-secondary-success-hovered-background: var(--color-success-50);
	--button-secondary-success-hovered-border: var(--color-success-700);
	--button-secondary-success-hovered-contrast: var(--color-success-700);
	--button-secondary-success-pressed-background: var(--color-success-100);
	--button-secondary-success-pressed-border: var(--color-success-800);
	--button-secondary-success-pressed-contrast: var(--color-success-800);
	--button-secondary-warning-default-background: var(--color-generic-none);
	--button-secondary-warning-default-border: var(--color-warning-600);
	--button-secondary-warning-default-contrast: var(--color-warning-600);
	--button-secondary-warning-hovered-background: var(--color-warning-50);
	--button-secondary-warning-hovered-border: var(--color-warning-700);
	--button-secondary-warning-hovered-contrast: var(--color-warning-700);
	--button-secondary-warning-pressed-background: var(--color-warning-100);
	--button-secondary-warning-pressed-border: var(--color-warning-800);
	--button-secondary-warning-pressed-contrast: var(--color-warning-800);
	--button-text-error-default-contrast: var(--color-error-500);
	--button-text-error-hovered-contrast: var(--color-error-600);
	--button-text-error-pressed-contrast: var(--color-error-700);
	--button-text-neutral-default-contrast: var(--color-neutral-500);
	--button-text-neutral-hovered-contrast: var(--color-neutral-600);
	--button-text-neutral-pressed-contrast: var(--color-neutral-700);
	--button-text-primary-default-contrast: var(--color-primary-500);
	--button-text-primary-hovered-contrast: var(--color-primary-600);
	--button-text-primary-pressed-contrast: var(--color-primary-700);
	--button-text-success-default-contrast: var(--color-success-600);
	--button-text-success-hovered-contrast: var(--color-success-700);
	--button-text-success-pressed-contrast: var(--color-success-800);
	--button-text-warning-default-contrast: var(--color-warning-600);
	--button-text-warning-hovered-contrast: var(--color-warning-700);
	--button-text-warning-pressed-contrast: var(--color-warning-800);
	--button-user-default-background: var(--background-primary);
	--button-user-default-border: var(--color-neutral-300);
	--button-user-default-contrast: var(--color-neutral-600);
	--button-user-hovered-background: var(--background-elevation-1);
	--button-user-hovered-border: var(--color-neutral-400);
	--button-user-hovered-contrast: var(--color-neutral-700);
	--button-user-pressed-background: var(--background-elevation-2);
	--button-user-pressed-border: var(--color-neutral-500);
	--button-user-pressed-contrast: var(--color-neutral-800);

	//alerts

	--alert-error-background: var(--color-error-50);
	--alert-error-border: var(--color-error-500);
	--alert-error-icon: var(--color-error-500);
	--alert-error-primary: var(--color-error-800);
	--alert-error-secondary: var(--color-error-700);
	--alert-info-background: var(--color-primary-50);
	--alert-info-border: var(--color-primary-500);
	--alert-info-icon: var(--color-primary-500);
	--alert-info-primary: var(--color-primary-800);
	--alert-info-secondary: var(--color-primary-700);
	--alert-success-background: var(--color-success-50);
	--alert-success-border: var(--color-success-500);
	--alert-success-icon: var(--color-success-500);
	--alert-success-primary: var(--color-success-800);
	--alert-success-secondary: var(--color-success-700);
	--alert-warning-background: var(--color-warning-50);
	--alert-warning-border: var(--color-warning-500);
	--alert-warning-icon: var(--color-warning-500);
	--alert-warning-primary: var(--color-warning-800);
	--alert-warning-secondary: var(--color-warning-700);
	--background-primary: var(--color-generic-white);
	--alert-warning-color: var(--color-warning-700);
	--alert-success-color: var(--color-success-700);
	--alert-info-color: var(--color-primary-700);
	--alert-error-color: var(--color-error-700);
}

[theme-mode="fnac"] {
	--color-logo-bloom-dark: #ffffffff;
	--color-logo-client-dark: #ffffffff;

	// Misc colors
	--background-primary: #111827ff;
	--background-elevation-1: #1f2937ff;
	--background-elevation-2: #374151ff;
	--text-primary: #f9fafbff;
	--text-secondary: #e5e7ebff;
	--text-inverted: #111827ff;
	--divider-primary: #374151ff;
}
