:host {
	display: block;
}

* {
	margin: 0;
	padding: 0;
}

button {
	border-radius: var(--toggle-radius, 360px);
	border: 1px solid var(--toggle-border, rgba(0, 0, 0, 0));
	background: var(--toggle-off-background, #d3d5d9);
	min-width: 48px;
	max-width: 48px;
	min-height: 24px;
	max-height: 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: var(--spacing-025, 2px);
  cursor: pointer;
}
button.active {
  background: var(--toggle-on-background, #000);
}
button.active > span {
	margin-left: 1.4rem;
}

button > span {
	border-radius: var(--toggle-switch-radius, 360px);
	border: 1px solid var(--toggle-switch-border, rgba(0, 0, 0, 0));
	background: var(--toggle-switch-background, #fafafa);
	/* shadow/md */
	box-shadow: 0px 6px 12px 0px rgba(6, 9, 14, 0.1);
	flex: 1;
	min-width: 1.2rem;
	max-width: 1.2rem;
	min-height: 1.2rem;
	max-height: 1.2rem;
	margin-left: 0;
	transition: all 0.25s ease-in;
	font-size: 0;
	display: flex;
}
