:host {
	.wrapper-stepper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: nowrap;

		.stepper {
			display: flex;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			padding-bottom: 24px;
		}

		.stepper li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			list-style-type: none;
			float: left;
			width: 33%;
			position: relative;
			text-align: center;
			color: var(--color-neutral-500);
		}

		.stepper li:before {
			content: "\25A0";
			font-size: 32px;
			color: var(--color-generic-black);
			width: 32px;
			height: 32px;
			border: 2px solid var(--color-generic-black);
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			margin: 0 auto 10px;
			background: var(--color-generic-white);
			z-index: 1;
		}

		.stepper li:last-child::before {
			content: "";
			border-color: var(--color-neutral-400); /* Added this block */
		}

		.stepper li:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--color-generic-black);
			top: 26%;
			left: -50%;
			z-index: 0;
		}

		.stepper li:last-child::after {
			background-color: var(--color-neutral-400); /* Added this block */
		}

		.stepper li:first-child:after {
			content: none;
		}

		.stepper li.active {
			color: var(---color-generic-black);
		}

		.stepper li.active:before {
			border-color: var(--color-generic-black);
			background-color: var(--color-generic-black);
			font-family: system-ui;
			content: "✓";
			font-size: 20px;
			color: var(--color-generic-white);
			width: 32px;
			height: 32px;
		}
		.stepper.remove-classes li:last-child::before {
			content: "\25A0";
			font-size: 32px;
			color: var(--color-generic-black);
			width: 32px;
			height: 32px;
			border: 2px solid var(--color-generic-black);
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			margin: 0 auto 10px;
			background: var(--color-generic-white);
			z-index: 1;
		}
		.stepper.remove-classes li:last-child::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--color-generic-black);
			top: 25%;
			left: -50%;
			z-index: 0;
		}
		.stepper.remove-classes li.active:before {
			border-color: var(--color-generic-black);
			background-color: var(--color-generic-black);
			font-family: system-ui;
			content: "✓";
			font-size: 20px;
			color: var(--color-generic-white);
			width: 32px;
			height: 32px;
		}
	}
}
