:host {
	display: block;
}
.root {
	position: relative;
	width: 100%;
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: $spacing-0-5;
		width: 100%;

		.input {
			margin-top: $spacing-1;
			display: flex;
			padding: 0 12px;
			font-family: $font-primary;
			box-sizing: border-box;
			height: 38px;
			font-weight: 400;
			width: 100% !important;
			outline: none;
			background-color: var(--color-generic-white);
			color: var(--color-neutral-800);
			border: 1px solid var(--color-neutral-200);

			&[readonly] {
				color: var(--color-neutral-900);
			}
		}

		.error {
			color: var(--color-error-600);
			border-color: var(--color-error-600);
		}

		.error-text {
			color: var(--color-error-600);
		}

		.placeholder {
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: calc(24px - 16px);
			padding: 0 16px;
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 0.5px;
			background-color: var(--color-generic-white);
			color: var(--color-generic-white);
			cursor: text;
			transition: all 0.1s linear;
		}

		.focused {
			top: 0;
			z-index: 2;
		}
	}
}
